:root {
    --primary-color: #e8d73f; 
    --secondary-color: #c7c7c7;
    --tartiary-color: #fdaa3d;
    --text-color: #ccc;
}
#header > #nav-bar > a {
    text-decoration: none;
    color: black;
    border: 1px solid var(--tartiary-color);
    box-sizing: border-box;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.459);
    height: 70%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    min-width: 320px;
}
body {
    width: auto;
    margin: 0 auto;
    box-sizing: border-box;
}
#header > .logo {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 4%;
    
}
#header > .logo > img {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    max-width: 60px;
}
/* iam using rem unit */
#header > .logo > p {
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#header > #nav-bar {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    padding-right: 4%;
    box-sizing: border-box;
    font-size: 1rem;
    text-overflow: ellipsis;
    gap: 10px;
    text-rendering: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}
header {
    width: 100vw;
    height: 80px;
    background: linear-gradient(to left, var(--tartiary-color), var(--primary-color));
    display: flex;
    position: fixed;
    z-index: 999;
    border-bottom: 5px solid var(--tartiary-color);
    box-shadow: 0 1px 20px var(--tartiary-color);
}
main {
    padding-top: 40px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background: #2f3740;
    color: var(--text-color);
    box-sizing: border-box;
}
section {
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
}
section > div {
    flex-shrink: 2;
}
main > .video-container {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > .video-container > .video {
    width: 50%;
    aspect-ratio: 16/9;
    flex-shrink: 1;
}
section > svg {
    width: 80px;
    height: 80px;
    padding: 10px;
    background: var(--primary-color);
    border-radius: 50%;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    color: black;
    box-shadow: 0px 0px 50px var(--tartiary-color);
}
main > form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}
main > form > #email {
    width: 300px;
    height: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background: var(--text-color);
}
main > form > #email:focus::placeholder {
    color: transparent;
}
main > form > #email::placeholder {
    color: black;
}
main > form > #email:focus {
    outline: none;
    background: var(--primary-color);
}
main > form > #submit {
    background: var(--primary-color);
    height: 30px;
    padding: 0 10px;
    border-radius: 10px;

}
main > form > #submit:hover {
    cursor: pointer;
}
main > form > #submit:focus {
    background: var(--tartiary-color);
    box-shadow: 0px 0px 10px var(--tartiary-color);
}
.follow-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.follow-info > p {
    font-size: 1.2rem;
}
.follow-info > .social {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.follow-info > .social > .contact > a {
    width: 150px;
    padding: 10px;
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 5px;
}
.follow-info > .social > .contact > .youtube:hover {
    background: white;
}
.follow-info > .social > .contact > .youtube:hover > span {
    color: black;
    font-weight: bold;
}
.follow-info > .social > .contact > .youtube:hover > svg {
    color: red;
}
.follow-info > .social > .contact > .x:hover {
    background: black;
}
.follow-info > .social > .contact > .x:hover > span {
    color: white;
    font-weight: bold;
}
.follow-info > .social > .contact > .x:hover > svg {
    color: white;
}
.follow-info > .social > .contact > .facebook:hover {
    background: white;
}
.follow-info > .social > .contact > .facebook:hover > span {
    color: blue;
    font-weight: bold;
    text-transform: lowercase;
}
.follow-info > .social > .contact > .facebook:hover > svg {
    color: blue;
}
.follow-info > .social > .contact > .instagram:hover {
    background: linear-gradient(to right, #833AB4, #FD1D1D, #FCB045);
}
.follow-info > .social > .contact > .instagram:hover > span {
    color: black;
    font-weight: bold;
}
.follow-info > .social > .contact > .instagram:hover > svg {
    color: white;
}
.follow-info > .social > .contact > a > svg {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    transform: translateX(120%);
    transition: transform 0.3s ease-in-out;
}
.follow-info > .social > .contact > a:hover > svg {
    transform: translateX(0%);
}
.follow-info > .social > .contact > a > span {
    font-size: 1.5rem;
    transition: opacity 0.3s ease-in-out;
    
    opacity: 0;
}
.follow-info > .social > .contact > a:hover > span {
    opacity: 1;
}
footer {
    width: 100%;
    height: auto;
    background: rgb(20, 33, 51);
    color: var(--text-color);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 90;
}
footer > .contact-info {
    max-width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    grid-template-areas: 
    "call address"
    "info address";
    padding-top: 20px;
}
footer > .contact-info > .direct-contact {
    grid-area: call;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}
footer > .contact-info > .direct-contact > .direct-contact-options > a > svg {
    color: var(--text-color);
    width: 20px;
    height: auto;
    aspect-ratio: 1/1;
}
footer > .contact-info > .direct-contact > .direct-contact-options {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
footer > .contact-info > .direct-contact > .direct-contact-options > a {
    text-decoration: none;
}
footer > .contact-info > .info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer > .contact-info > .info > .copyright {
    text-decoration: none;
    color: var(--text-color);
    transform: translateY(100%)
}
footer > .contact-info > .info > .privacy > a {
    text-decoration: none;
    color: var(--text-color);
}
footer > .contact-info > .info > .terms > a {
    text-decoration: none;
    color: var(--text-color);
}
footer > .contact-info > address {
    grid-area: address;
    margin: 0 auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0;
}
footer > .contact-info > address > * {
    padding: 5px;
    margin: 0;
}
@media (max-width:530px) {
.follow-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.follow-info > p {
    font-size: 1.2rem;
}
.follow-info > .social {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.follow-info > .social > .contact > a {
    width: 150px;
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 5px;
}
.follow-info > .social > .contact > .youtube:hover {
    background: rgb(20, 33, 51);
}
.follow-info > .social > .contact > .youtube:hover > span {
    color: var(--text-color);
    font-weight: normal;
}
.follow-info > .social > .contact > .youtube:hover > svg {
    color: var(--text-color);
}
.follow-info > .social > .contact > .x:hover {
    background: rgb(20, 33, 51);
}
.follow-info > .social > .contact > .x:hover > span {
    color: var(--text-color);
    font-weight: normal;
}
.follow-info > .social > .contact > .x:hover > svg {
    color: var(--text-color);
}
.follow-info > .social > .contact > .facebook:hover {
    background: rgb(20, 33, 51);
}
.follow-info > .social > .contact > .facebook:hover > span {
    color: var(--text-color);
    font-weight: normal;
    text-transform: none;
}
.follow-info > .social > .contact > .facebook:hover > svg {
    color: var(--text-color);
}
.follow-info > .social > .contact > .instagram:hover {
    background: rgb(20, 33, 51);
}
.follow-info > .social > .contact > .instagram:hover > span {
    color: var(--text-color);
    font-weight: normal;
}
.follow-info > .social > .contact > .instagram:hover > svg {
    color: var(--text-color);
}
.follow-info > .social > .contact > a > svg {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    transform: translateX(0%);
}
.follow-info > .social > .contact > a:hover > svg {
    transform: translateX(0%);
}
.follow-info > .social > .contact > a > span {
    font-size: 1.5rem;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}
.follow-info > .social > .contact > a:hover > span {
    opacity: 1;
}
}
@media (max-width: 552px) {
    #header {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #header > .logo {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-left: 0;
    }
    #header > #nav-bar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 1rem;
    gap: 10px;
    text-rendering: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    margin: 0 auto;
    padding: 0 5px 10px 5px;
    }
    #header > #nav-bar  >  a {
        text-decoration: none;
        color: black;
        height: auto;
        width: auto;
    }
    main {
    padding-top: 136px;
}
}
@media (max-width: 341px) {
    main {
    padding-top: calc(166px + 7%);
    }
}